*{
  padding: 0;
  margin: 0;
}
body{
  margin:  50px auto;
  text-align: center;
}
.list{
  margin:0 auto;
  width: 200px;
  height: 150px;
  background-color: skyblue;
  overflow: auto;
}
.news{
  height: 30px;
}